@import '../../../styles/base';

.home {
	.inner {
		background: white;
		padding: 0px;
		.hr {
      margin: 10px 15px;
    }
	}
	.center {
		margin: 0 auto;
		text-align: center;
	}
	.splashImage {
		padding: 0px 15px;
		width: 100%;
	}
	.banner {
		padding: 0px 30px;
		hr {
			margin-bottom: 0px;
			margin-top: 10px;
		}
		h3 {
			margin-top: 15px;
			margin-bottom: 15px;
			font-weight: 100;
			color: $blue;
		}
	}
	.carouselImg {
		max-height: 500px;
		width: 100%;
	}
	.signupDiv {
		margin-top: 20px;
		background: $light-gray;
	}
	.featured {
		// margin-bottom: 30px;
	}
	.subtitle {
		margin-bottom: 5px;
	}
	.featuredProfiles {
		margin-top: 30px;
		hr {
			margin-top: 5px;
		}
		img {
			width: 100%;
			border: 1px solid $gray;
		}
		.profile {
			text-align: center;
			.name {
				color: $blue;
				font-weight: 600;
			}
			.position {
				font-weight: 100;
			}
			.company {
				font-weight: 600;
			}
		}
	}
	.featuredArticles {
		.mobile {
			padding: 0;
		}
		margin-top: 20px;
		hr {
			margin-top: 0px;
		}
		h5 {
			text-transform: uppercase;
		}
		.imageContainer {
			padding-left: 0px;
			padding-right: 0px;
		}
		.articleTitle {
			margin-top: 0px;
		}
	}
	.mostRecent {
		margin-top: 20px;
		hr {
			margin-top: 0px;
		}
		.article {
			.topicPreview {
				color: $blue;
				margin-bottom: 0px;
				font-style: italic;
			}
			h4 {
				font-size: 16px;
				margin-top: 5px;
			}
		}
	}
	.perspectives {
		margin-top: 30px;
		padding-bottom:30px;
		// padding-top: 20px;
		.perspectivesHeader {

		}
		hr {
			margin-top: 0px;
		}
		h5 {
			text-transform: inherit;
			font-size: 13px;
		}
		.article {
		}
	}
	.featuredImage {
		// when screen is LARGE
		max-height: 250px;
		width: 100%;
		padding-bottom: 20px;
	}
	.perspectiveImage {
		width: 100%;
	}
}
