@import '../../../styles/base';

.home {
	h3 {
		font-family: "Whitney";
	}
	.inner {
		background: white;
		padding: 0px;
		.hr {
      margin: 20px 15px;
    }
	}
	.center {
		margin: 0 auto;
		text-align: center;
	}
	.splashImage {
		padding: 0px 15px;
		width: 100%;
	}
	.banner {
		padding: 0px 30px;
		hr {
			margin-bottom: 0px;
		}
		h3 {
			margin-top: 15px;
			margin-bottom: 15px;
			font-family: 'Trebuchet MS';
			font-weight: 400;
			color: $blue;
		}
	}
	.featured {
		margin-bottom: 30px;
	}
	.featuredArticles {
		margin-top: 20px;
		hr {
			margin-top: 0px;
		}
		h5 {
			text-transform: uppercase;
		}
		.imageContainer {
			padding-left: 0px;
			padding-right: 0px;
		}
		h4 {
			margin-top: 0px;
		}
	}
	.mostRecent {
		margin-top: 20px;
		hr {
			margin-top: 0px;
		}
		h5 {
			text-transform: uppercase;
		}
		.article {
			.topicPreview {
				margin-bottom: 0px;
			}
			h4 {
				margin-top: 5px;
			}
		}
	}
	.perspectives {
		background: #EFF2F7;
		padding: 0px 30px;
		padding-top: 20px;
		hr {
			border-color: #DCDFE4;
		}
		h5 {
			text-transform: uppercase;
		}
		.article {
			h6 {
				font-family: Georgia;
			}
		}
	}
	.featuredImage {
		width: 100%;
	}
	.perspectiveImage {
		width: 100%;
	}
}
