@import '../../styles/base';

.signup {
  .inner {
    background: white;
  }
  .intro {
    h1, h2, h3, h4, h5 {
      font-family: Georgia;
      color: $blue;
    }
    h5 {
      font-style: italic;
    }
  }
  h3 {
    font-family: Georgia;
    margin-bottom: 0px;
  }
  hr {
    margin-top: 5px;
  }
  .accountInfo {
    .description {
      margin-bottom: 30px;
    }
    .subtitle {
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    input {
      width: 100%;
      border: 1px solid $gray;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 0px;
      padding-left: 10px;
      font-size: 10px;
    }
  }
    .consultantCheck {
      margin-top: 20px;
      .checkbox {
        width: initial;
        height: inherit;
        display: inline-block;
        margin-right: 10px;
      }
      .checkboxDesc {
        font-family: 'Open Sans';
      }
      .title {
        width: inline-block;
        font-family: 'Open Sans';
      }
    }
  .subscribe {
    margin-top: 20px;
    .checkbox {
      display: inline-block;
      margin-right: 15px;
    }
    .title {
      display: inline-block;
      font-family: Georgia;
      font-size: 20px;
    }
    .newsletters {
      overflow: hidden;
      .subtitle {
        font-family: Trebuchet MS;
        margin: 0px;
      }
      .desc {
        padding-left: 28px;
      }
    }
  }
  .experience {
    margin-top: 20px;
    .consultantCheck {
      margin-top: 10px;
    }
  }
  .resume {
    margin-top: 20px;
    .icon {
      padding-right: 5px;
      padding-top: 5px;
    }
    button {
      @extend .raines-button;
      width: 150px;
      height: 30px;
    }
    .disclaimer {
      font-style: italic;
    }
    .checkboxDesc {
      font-family: 'Open Sans';
    }
  }
  .submitButton {
    @extend .raines-button;

    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}