@import '../../styles/base';

.signup {
  .inner {
    background: white;
  }
  .intro {
    margin-top: 30px;
    background: #f8f8f8;
    padding: 0px 100px;
    text-align: justify;
    h2 {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1px;
      color: $blue;
      margin-bottom: 30px;
    }
    h1, h2, h3, h4, h5 {
      font-weight: 100;
      line-height: 1.3;
    }
    h4 {
      margin-bottom: 20px;
    }
    h5 {
      font-style: italic;
    }
    padding-bottom: 30px;

  }
  p {
    font-family: 'Open Sans';
  }
  h3 {
    font-family: Georgia;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  hr {
    margin-top: 5px;
  }
  form {
    padding: 0px 80px;
  }
  .accountInfo {
    input[type=checkbox] {
      transform: scale(1.2);
    }
    .description {
      font-style: italic;
    }
    .subtitle {
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    .inputs {
      padding: 0px;
    }
    input {
      width: 100%;
      border: 1px solid $gray;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 0px;
      padding-left: 10px;
      font-size: 10px;
    }
  }
    .consultantCheck {
      padding: 0px;
      margin-top: 20px;
      .checkbox {
        width: initial;
        height: inherit;
        display: inline-block;
        margin-right: 17px;
      }
      .checkboxDesc {
        font-family: 'Open Sans';
      }
      .title {
        width: inline-block;
        font-family: 'Open Sans';
        font-size: 16px;
      }
    }
  .subscribe {
    margin-top: 20px;
    .checkbox {
      display: inline-block;
      margin-right: 15px;
    }
    .title {
      display: inline-block;
      font-family: 'Open Sans';
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }
    .newsletters {
      overflow: hidden;
      .newsletter {
        padding: 0px;
      }
      .subtitle {
        font-family: Trebuchet MS;
        margin: 0px;
      }
      .desc {
        padding-left: 28px;
        font-size: 12px;
      }
    }
    .optional {
      font-size: 14px;
      color: $gray;
      font-style: italic;
    }
  }
  .experience {
    margin-top: 20px;
    .consultantCheck {
      margin-top: 10px;
    }
  }
  .resume {
    margin-top: 20px;
    .icon {
      padding-right: 5px;
      padding-top: 5px;
    }
    button {
      @extend .raines-button;
      width: 150px;
      height: 30px;
    }
    .disclaimer {
      margin-top: 20px;
      text-align: justify;
      font-style: italic;
    }
    .checkboxDesc {
      font-family: 'Open Sans';
    }
  }
  .gRecaptcha {
    margin-top: 30px;
  }
  .submitButton {
    @extend .raines-button;

    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}