@import '../../styles/base';

.thankYou {
  min-height: calc(100vh - 402px);
  background: white;
  .inner {
    background: #f8f8f8;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 80px;
    h1 {
      color: $blue;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 100;
      font-size: 36px;
      margin-top: 0px;
    }
    p {
      font-family: 'Open Sans';
      font-weight: 100;
      font-size: 14px;
      text-align: justify;
    }
    a {
      color: $blue;
      font-weight: 400;
    }
    .signature {
      margin-top: 30px;
      p {
        margin: 0px;
      }
      .team {
        font-weight: 400;
      }
    }
  }
}