@import '../../styles/base';
.whoWeAre {
  min-height: calc(100vh - 402px);
  background: white;
  .inner {
    overflow: hidden;
    margin-bottom: 30px;
    h1, h4, h5 {
      font-family: Georgia;
    }
    h4 {
      padding: 0px 120px;
    }
    img {
      width: 100%;
    }
    .hr {
      margin: 10px 15px;
    }
    .hrDiv {
      padding: 0px;
    }
    .splashImage {
      padding: 0px 15px;
    }
    .row {
      .column {
        padding: 0px;
        img {
          max-height: 264px;
        }
        .link {
          font-style: italic;
          a {
            color: $blue !important;
          }
        }
      }
      .textColumn {
        padding: 0px 25px;
        p {
          font-size: 15px;
        }
      }
    }
  }
}