@import '../../styles/base';
.whoWeAre {
  min-height: calc(100vh - 402px);
  background: white;
  /* match raines */
		float: none;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
		/* end match raines */
  .inner {
    overflow: hidden;
    margin-bottom: 30px;
    h1, h4, h5 {
      font-family: Georgia;
    }
    h4 {
      padding: 0px 120px;
    }
    img {
      width: 100%;
    }
    .hr {
      margin: 10px 15px;
    }
    .hrDiv {
      padding: 0px;
    }
    .splashImage {
      padding: 0px 15px;
    }
    .row {
      .column {
        padding: 0px;
        img {
          // max-height: 264px;
        }
        .link {
          font-style: italic;
          a {
            color: $blue !important;
          }
          .icon {
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            font-size: 12px;
          }
          &:hover {
            .icon {
              padding-left: 5px;
            }
          }
        }
      }
      .textColumn {
        padding: 0px 25px;
        p {
          font-size: 15px;
        }
        &.extraSmall, &.small {
          padding: 0;
          margin-bottom: 10px;
          &.careerInsights {
            .link {
              margin-bottom: 20px;
            }
          }
        }
      }
      .left {
        height: 264px;
        .link1 {
          bottom: 20px;
          position: absolute;
        }
        .link2 {
          bottom: 0;
          position: absolute;
        }
      }
      .right {
        position: absolute;
        left: 50%;
        height: 264px;
        .link {
          bottom: 0;
          position: absolute;
        }
        &.medium {
          .link {
            bottom: 20px;
          }
        }
      }
    }
  }
}