@import '../../styles/base';

.profile {
  .inner {
    background: white;
    padding: 0;
  }
  .header {
    text-align: center;
  }
  .content {
    .image {
      img {
        width: 100%;
      }
    }
    .name {
      h1 {
        margin-bottom: 10px;
      }
    }
    .position {
      font-size: 17px;
    }
    .company {
      text-transform: uppercase;
      h5 {
        margin-top: 0;
        font-weight: 700;
      }
    }
    .excerpt {
      margin-top: 20px;
      font-style: italic;
      font-size: 14px;
      font-weight: 100;
      line-height: 1.2;
    }
  }
  .interview {
    margin-top: 0px;
    margin-bottom: 20px;
    p {
      font-family: 'Open Sans';
      font-weight: 100;
    }
    em {
      font-weight: 600;
      font-style: italic;
      font-family: 'Open Sans';
      color: $blue;
      margin-top: 20px;
    }
  }
}