@import '../../styles/base';

.profile {
  .inner {
    background: white;
    padding: 0;
  }
  .header {
    text-align: center;
  }
  .content {
    .image {
      img {
        width: 100%;
      }
    }
  }
}