/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import 'dropdown';

$light-gray: #EDEDED;
$gray: #b2b2b2;
$blue: #7396B4;

h3, h4, h5 {
  font-family: Georgia;
}

p {
  font-family: Georgia;
}

.topicPreview {
  font-style: italic;
}

.date-preview {
  font-style: italic;
}

.raines-button {
  background-color: $blue;
  color: white;
  border-style: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.center {
  text-align: center;
}

.error {
  color: lighten(red, 20%);
  font-style: italic;
  margin-bottom: 0px;
}
