/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$light-gray: #EDEDED;
$gray: #b2b2b2;
$blue: #7396B4;


.raines-button {
  background-color: $blue;
  color: white;
  border-style: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}