/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

@import 'dropdown';

$light-gray: #EDEDED;
$gray: #b2b2b2;
$dark-gray: #545454;
$blue: #7396B4;
$dark-blue: #567187;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
}

p {
  font-family: Georgia;
}

a {
  color: black;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

hr {
  border-color: #D8D8D8;
}

.subtitle {
  text-transform: uppercase;
}

.topicPreview {
  // font-style: italic;
  // font-family: Georgia;
  font-family: 'Open Sans';
  font-weight: 100;
}

.date {
  font-style: italic;
}

.articleTitle {
  font-family: Georgia;
  font-family: 'Open Sans';
}

.excerpt {
  font-family: Georgia;
  // font-style: italic;
  font-family: 'Open Sans';
  color: $dark-gray;
}

.raines-button {
  background-color: $blue;
  color: white;
  border-style: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.viewMoreButton {
  font-family: 'Open Sans';
}

.center {
  text-align: center;
}

.error {
  color: lighten(red, 20%);
  font-style: italic;
  margin-bottom: 0px;
}
