@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  src: local('Whitney'), local('Whitney'), url('../static/fonts/WhitneyLightItalic.ttf') format('ttf');
}

:global {
  @import 'base';
  @import '~normalize.css/normalize';
  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
