@import '../../styles/base';
.ideasAndInsights {
  background: white;
  .inner{
    background: white;
  }
  .subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
  }
  .date {
    font-style: italic;
  }
  .latestResearch {
    padding: 0px;
    margin-bottom: 40px;
    .imageDiv {
      padding: 0px;
      img {
        width: 100%;
      }
    }
    .articleTitle {
      margin-top: 0px;
    }
    
  }
  .insights {
    padding: 0px;
    .topicList {
      overflow: hidden;
      .topic {
        padding: 0px;
        color: $blue;
        i {
          margin-right: 3px;
        }
      }
    }
  }
  .articleSummary {
    font-size: 12px;
  }
  .primaryArticles, .nextArticles {
    padding: 0px;
    .latestArticle, .nextArticle {
      img {
        width: 100%;
      }
    }
  }
  .moreArticles {
    padding: 0px;
    .nextArticle {
      min-height: 195px;
      margin-top: 20px;
      img {
        width: 100%;
        height: 113px;
      } 
    }
  }
}

.viewMore {
  margin-bottom: 20px;
  .border {
    width: calc((100% - 82px)/2);
    height: 5px;
    display: inline-block;
    margin: 0px;
    border-top: 1px solid black;
    border-color: #EDEDED;
  }
  .buttonDiv {
    display: inline-block;
    width: 82px;
    .viewMoreButton {
      width: 100%;
      background-color: $blue;
      color: white;
      border-style: none;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}