@import '../../styles/base';

.globalFooter {
  // height: 160px;
  clear: both;
  background: #EDEDED;
  padding-bottom: 25px;
  text-align: center;
  .desc {
    font-size: 12px;
    font-family: 'Open Sans';
  }
  .email {
    color: $blue;
  }
  hr {
    border-color: #DCDFE4;
    margin-bottom: 0px;
  }
  h3 {
    font-family: 'Open Sans';
  }
  .footerFooter {
    i {
      padding: 5px 10px;
    }
    p {
      font-family: 'Open Sans';
      font-size: 12px;
    }
    span {
      font-size: 12px;
      margin-left: 25px;
    }
  }
  .lowerHr {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .mobileFooter {
    text-align: center;
    hr {
      border-color: #d8d8d8;
      margin-bottom: 20px;
    }
    .lowerHr {
      margin-top: 10px;
    }
  }
}