@import '../../styles/base';

.profilesAndInterviews {
  .inner {
		background: white;
    padding: 0;
    /* match raines */
		float: none;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
		/* end match raines */
		hr {
      margin-top: 5px;
    }
    .subtitle {
      margin-bottom: 0px;
      text-transform: uppercase;
    }
    .featuredProfile {
      padding: 0px 30px;
      .featuredImageDiv {
        padding: 0;
        .featuredImage {
          width: 100%;
          border: 1px solid $gray;
        }
      }
      .featuredContent {
        &.extraSmall, &.small {
          margin-top: 20px;
          padding: 0;
        }
        .name {
          font-size: 30px;
          // font-family: Georgia;
          margin: 0;
          // color: $blue;
        }
        .company {
          color: $blue;
          font-weight: 600;
        }
        .position {
          font-style: italic;
        }
        .date {
          font-style: italic;
        }
      }
      .hrDiv {
        padding: 0px;
      }
    }
    .filterBar {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7496B3;
      color: white;
      height: 40px;
      font-family: 'Open Sans';

      &.extraSmall, &.small {
        display: inherit;
        text-align: center;
        height: inherit;
        padding: 10px;
        .filter, .reset, .dropdown {
          padding: 0px;
        }
      }

      .filter, .reset, .dropdown {
        padding: 15px;
      }

      .dropdown {
        width: 230px;
      }
    }
    .profiles {
      padding-top: 20px;
      .profilemassive {
        min-height: 350px !important;
      }
      .profile {
        text-align: center;
        margin-top: 10px;
        min-height: 300px;
        img {
          width: 100%;
          border: 1px solid $gray;
        }
        .footer {
          min-height: 90px;
        }
        .name {
          color: $blue;
          font-weight: 600;
          font-size: 16px;
        }
        .position {
          font-weight: 100;
        }
        .company {
          font-weight: 600;
        }
      }
    }
	}
}

.viewMore {
  margin-bottom: 20px;
  .border {
    width: calc((100% - 100px)/2);
    height: 5px;
    display: inline-block;
    margin: 0px;
    border-top: 1px solid black;

    border-color:  #D8D8D8;
  }
  .buttonDiv {
    display: inline-block;
    width: 100px;
    .viewMoreButton {
      font-family: 'Open Sans';
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 1px;

      width: 100%;
      background-color: $blue;
      color: white;
      border-style: none;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}

