$blue: #7396B4;

.subNavbar {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    font-family: Georgia;
    a {
      color: #333;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .inner {
    background: white;
    padding-bottom: 30px;
  }
  .middleHr {
    border-color: #333333;
    width: 65%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .subnavList {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
    a {
      color: #333;
      transition: color 0.3s ease;
      &:hover, &:focus {
        color: $blue;
        text-decoration: none;
      }
    }
    li {
      &:hover {
        color: $blue;
      }
      font-family: 'Open Sans';
      text-transform: uppercase;
      display: inline;
      list-style-type: none;
      transition: color 0.3s ease;
    }
  }
}