@import '../../styles/base';

.placements {
  .inner {
    background: white;
    padding: 0;
    .mainDivider {
      margin-bottom: 0px;
    }
  }
  .placement {
    text-align: center;
    padding-top: 20px;
    &:hover {
      cursor: pointer;
      background: lighten(#eee, 4%);
    }
    .date {
      margin-bottom: 0px;
    }
    h1, h4 {
      // display: inline-block;
    }
    h1 {
      margin-top: 0px;
      font-size: 22px;
      font-weight: 100;
      margin-bottom: 0px;
      color: $blue;
    }
    h4 {
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 30px;
      // font-weight: 600;
      // color: $blue;
    }
    hr {
      width: 50%;
      margin-bottom: 0px;
    }
    .description {
      color: black;
      display: none;
      text-align: justify;
      padding-bottom: 20px;
      p {
        font-family: 'Open Sans';
      }
    }
  }
}

.viewMore {
  margin-bottom: 20px;
  .border {
    width: calc((100% - 82px)/2);
    height: 5px;
    display: inline-block;
    margin: 0px;
    border-top: 1px solid black;
    border-color: #d8d8d8;
  }
  .buttonDiv {
    display: inline-block;
    width: 82px;
    .viewMoreButton {
      width: 100%;
      background-color: $blue;
      color: white;
      border-style: none;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}